@media (min-width: 996px) {
  .header {
    &__cars {
      max-width: 700px;
    }

    &__text {
      font-size: 6rem;
    }
  }

  .offer {
    &__body {
      width: 900px;
    }

    &__img {
      max-width: 500px;
    }
  }
}
