@media (min-width: 768px) {
	.nav {
		.nav__menu {
			display: none;
		}

		&__links {
			position: unset;
			flex-direction: row;
			top: unset;
			height: unset;
			width: unset;
			background-color: unset;
			transform: unset;
		}

		&__link {
			transition: color 0.3s ease;

			&:hover {
				color: $main;
			}
		}

		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 0.2em;
			color: rgb(253, 253, 253);
			font-size: 2.5rem;
		}

		&__logo-img {
			width: 40px;
		}

		&__basket {
			font-size: 2.5rem;
		}

		&__quantity {
			top: -7px;
			width: 22px;
			height: 22px;
			font-size: 1.2rem;
		}
	}

	.payment {
		width: 400px;
		border-radius: 10px;

		&__button {
			transition: background-color 0.3s ease, color 0.3s ease;

			&:hover {
				background-color: #a8882e;
				color: $white;
			}
		}
	}

	.cart {
		flex-direction: row;
		justify-content: center;
		gap: 2em;
		padding: 5em 0;
	

	&__wrapper {
		width: 500px;
	}

		&__total-price {
			font-size: 2.5rem;
		}

		&__heading {
			padding-left: 1em;
			text-align: start;
			font-size: 4rem;
		}

		&__continue {
			transition: background-color 0.3s ease, color 0.3s ease;

			&:hover {
				background-color: #a8882e;
			}
		}

		&__minus,
		&__plus {
			cursor: pointer;
		}
	}

	.contact {
		&__body {
			flex-direction: row;
			justify-content: space-between;
			align-items: start;
		}

		&__content-icons,
		&__media-icon {
			cursor: pointer;
			transition: color 0.3s ease;

			&:hover {
				color: $main;
			}
		}

		&__content-title {
			text-align: start;
		}

		&__content-open {
			&:hover {
				color: unset;
				cursor: auto;
			}
		}
	}
}
